.layoutContainer {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.layoutExercise {
  margin: 20px;
  max-height: 85vh;
  overflow-y: scroll;
}

.layoutSidebar {
  background: rgb(209, 209, 209);
  color: rgb(20, 20, 20);
  padding: 20px;
  height: 100vh;

  ul {
    list-style-type: none;
  }
}
